.fileRow:hover {
  background-color: #f5f5f5;
}

table {
  border-spacing: 0;
}

th,
td {
  color: #2f3032;
  padding: 1rem;
  border-top: 1px solid #ebebeb;
  text-align: left
}

button {
  border: none;
  background: none;
  font-size: 20px;
  color: #2f3032;
}

button:disabled {
  border: none;
  background: none;
  font-size: 20px;
  color: #d5d9e0
}
