tr:hover {
  background-color: #f5f5f5;
}

table {
  border-spacing: 0;
}

th,
td {
  color: #2f3032;
  padding: 1rem;
  border-top: 1px solid #ebebeb;
}

#btn {
  border: none;
  background: none;
  font-size: 20px;
  color: #2f3032;
}

#disabledBtn {
  border: none;
  background: none;
  font-size: 20px;
  color: #d5d9e0
}

label {
  color: #2f3032;
  font-size: 20px;
  margin-right: 1rem;
}

.selectAll {
  margin: 1.3rem;
}

.highlightedRow {
  background-color: "#EEEEEE"
}